<amplify-authenticator [loginMechanisms]="['email']">
  <ng-template amplifySlot="authenticated">
    <div class="app-shell">
      <p-menubar [model]="navItems">
        <ng-template pTemplate="start">
          <a routerLink="/dashboard" class="app-brand">{{ title }}</a>
        </ng-template>
        <ng-template pTemplate="end">
          <p-button label="Sign out" severity="danger" [outlined]="true" (onClick)="signOut()" />
        </ng-template>
      </p-menubar>

      <main class="app-main">
        <router-outlet />
      </main>
    </div>
  </ng-template>
</amplify-authenticator>
