<div class="app-shell">
  <div class="app-header-bar">
    <p-menubar [model]="navItems" [breakpoint]="'0px'" styleClass="app-menubar-inner">
      <ng-template pTemplate="start">
        <a routerLink="/dashboard" class="app-brand">{{ title }}</a>
      </ng-template>
    </p-menubar>
    <div class="app-header-signout">
      <p-button
        type="button"
        label="Sign out"
        icon="pi pi-sign-out"
        severity="danger"
        size="small"
        (onClick)="signOut()"
      />
    </div>
  </div>

  <main class="app-main">
    <router-outlet />
  </main>
</div>

